# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [132]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [133]:
chipo=pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv',sep='\t')

### Step 4. See the first 10 entries

In [134]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [135]:
# Solution 1, con esta solución tenemos el número de filas y columnas
filas, columnas= chipo.shape
filas

4622

In [136]:
# Solution 2, con está solución tenemos solamente el número de filas(observaciones).
chipo.shape[0]

4622

### Step 6. What is the number of columns in the dataset?

In [137]:
#Solution 1, de la variable anteriormente definida se determina el valor de columnas
columnas

5

In [138]:
#Solution 2
len(chipo.columns)

5

In [139]:
chipo.shape[1]  #Se indica solo el número de columnas

5

In [140]:
chipo.info() #Da información acerca del dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [141]:
#De la solución anterior se puede ver el total de columnas entre parentesis, se indican que son 5.

### Step 7. Print the name of all the columns.

In [142]:
f'El nombre de las columnas es: {chipo.columns} .'

"El nombre de las columnas es: Index(['order_id', 'quantity', 'item_name', 'choice_description',\n       'item_price'],\n      dtype='object') ."

### Step 8. How is the dataset indexed?

In [143]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [144]:
#Solution1, se agrupan las filas de la columna en función de los items que vende la empresa, para identificar el árticulo que se vende más
#solo se debe hacer una suma de las cantidades vendidas por producto. La mayor cantidad se obtiene al acomodar la suma de 'quantity'
#de mayor a menor y obtener el primer item del data frame.

chipo.groupby(by='item_name')[['quantity']].sum().sort_values(by='quantity', ascending=False).head(1)

              quantity
item_name
Chicken Bowl       761

In [145]:
#Solution 2, se ordena la tabla 'chipo' en función de los 'ítem names'al mismo tiempo que se realiza una suma, como función de agregación"
# a las demás columnas. El item más vendido, es el que el valor más grande en la columna 'quantity'.

chipo.pivot_table(index='item_name', aggfunc='sum')[['quantity']].sort_values(by='quantity',ascending=False).head(1)

              quantity
item_name
Chicken Bowl       761

In [146]:
#El item más vendido es Chicken Bowl.

### Step 10. For the most-ordered item, how many items were ordered?

In [147]:
#Del item obtenido en la respuesta anterior, se extrae solo la cantidad vendida.
chipo.groupby(by='item_name')['quantity'].sum().max()

761

### Step 11. What was the most ordered item in the choice_description column?

In [148]:
#Para obtener el item más ordenado en el dataframe de acuerdo con la columna 'choice_description', solo se deben de tomar en cuenta las columnas
#'quantity' y la de 'choice_description'. Para ello se formo un nuevo dataset el cual podamos editar para obtener la respuesta.
limpio=chipo[['quantity','choice_description']]
limpio

      quantity                                 choice_description
0            1                                                NaN
1            1                                       [Clementine]
2            1                                            [Apple]
3            1                                                NaN
4            2  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...
...        ...                                                ...
4617         1  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...
4618         1  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...
4619         1  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...
4620         1  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...
4621         1  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...

[4622 rows x 2 columns]

In [149]:
#Al hacer un analisis visual dela columna 'choice_description' se puede ver que hay celda vacias y que hay una elaborada descripción de los
#ingredientes a emplear en los platillo y la temperatura del mismo. Para quitar lo anterior se separo el texto y se sobreescribio el mismo 
#en la columna mencionada para quedarnos simplemente con la descripción general del 'item'
limpio.loc[:,'choice_description']=limpio['choice_description'].str.split(",",expand=True)[0]
limpio.loc[:,'choice_description']=limpio['choice_description'].str.split("(",expand=True)[0]

C:\Users\sabri\AppData\Local\Temp\ipykernel_4892\111127216.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  limpio.loc[:,'choice_description']=limpio['choice_description'].str.split(",",expand=True)[0]
C:\Users\sabri\AppData\Local\Temp\ipykernel_4892\111127216.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  limpio.loc[:,'choice_description']=limpio['choice_description'].str.split("(",expand=True)[0]

In [150]:
#Usando la agrupación de 'quantity' en base 'choice_description', se obtiene el producto más pedido.
limpio.groupby(by='choice_description')[['quantity']].sum().sort_values(by='quantity', ascending=False).head(1)

                     quantity
choice_description
[Fresh Tomato Salsa      1099

In [151]:
#El producto más ordenado de acuerdo con la columna 'choice_descritpion' es el Fresh Tomato Salsa.

### Step 12. How many items were orderd in total?

In [152]:
chipo['quantity'].sum()  #Suma la cantidad de productois ordenados

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [153]:
chipo.dtypes['item_price']  #Obtenemos el tipo de item en la columna 'item_price'

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [154]:
#Primero eliminamos el signo de $ de la columna
chipo['item_price']=chipo['item_price'].str.replace('$','', regex=True)

In [155]:
chipo['item_price']=[float(chipo['item_price'][i]) for i in range(len(chipo['item_price']))] #Con la función se transforma los el tipo de valor en cada variable del dataframe.

#### Step 13.c. Check the item price type

In [156]:
chipo.dtypes['item_price']   #Se checa el tipo de variable de la columna (Solution 1)

dtype('float64')

In [157]:
type(chipo['item_price'][0]) #Se checa el tipo de variable de la columna (Solution 2)

numpy.float64

### Step 14. How much was the revenue for the period in the dataset?

In [158]:
def ganancia():
    '''Función en la cual se obtiene la ganacia de las ventas registradas en el dataset,
     teniendo en cuenta el precio del item y la cantidad ordenada del mismo.'''
    count=0
    for i in range(len(chipo)):
        gan=chipo['quantity'][i]*chipo['item_price'][i]
        count+=gan
    return count

In [159]:
f'La ganancia de la empresa en base a las ventas es de: $ {ganancia().round(2)}'

'La ganancia de la empresa en base a las ventas es de: $ 39237.02'

### Step 15. How many orders were made in the period?

In [160]:
chipo['order_id'].nunique() #Solution 1,se enumera la cantidad de elementos únicos en la columna 'order_id'.

1834

In [161]:
chipo['order_id'].max() #Solution 2,como los id_items están enumerados ascendentemente para obtener el número de ordenes solo se 
#debe de obtner el valor de la última venta. Este valor identifica la cantidad de ventas realizadas en la tienda.

1834

### Step 16. What is the average revenue amount per order?

In [162]:
# Solution 1, se crea una nueva columna en el dataset en la cual se obtiene el gasto por item en función de la cantidad comprada y su precio.
chipo['gasto']=chipo['quantity']*chipo['item_price']
chipo

,order_id,quantity,item_name,choice_description,item_price,gasto
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96
...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75,8.75

In [163]:
#Posteriormente se agrupa la suma de los valores de la columna gasto en función del 'order_id'.
# Y se obtiene el promedio de la ganancia por venta ('order_id').
(chipo.groupby('order_id')[['gasto']].sum()).mean()

gasto    21.394231
dtype: float64

In [164]:
print('En promedio en cada venta se gasta $21.39')

En promedio en cada venta se gasta $21.39

### Step 17. How many different items are sold?

In [165]:
items=chipo['item_name'].unique() #Visualización de todos los items que se venden
items.sort()
items

array(['6 Pack Soft Drink', 'Barbacoa Bowl', 'Barbacoa Burrito',
       'Barbacoa Crispy Tacos', 'Barbacoa Salad Bowl',
       'Barbacoa Soft Tacos', 'Bottled Water', 'Bowl', 'Burrito',
       'Canned Soda', 'Canned Soft Drink', 'Carnitas Bowl',
       'Carnitas Burrito', 'Carnitas Crispy Tacos', 'Carnitas Salad',
       'Carnitas Salad Bowl', 'Carnitas Soft Tacos', 'Chicken Bowl',
       'Chicken Burrito', 'Chicken Crispy Tacos', 'Chicken Salad',
       'Chicken Salad Bowl', 'Chicken Soft Tacos', 'Chips',
       'Chips and Fresh Tomato Salsa', 'Chips and Guacamole',
       'Chips and Mild Fresh Tomato Salsa',
       'Chips and Roasted Chili Corn Salsa',
       'Chips and Roasted Chili-Corn Salsa',
       'Chips and Tomatillo Green Chili Salsa',
       'Chips and Tomatillo Red Chili Salsa',
       'Chips and Tomatillo-Green Chili Salsa',
       'Chips and Tomatillo-Red Chili Salsa', 'Crispy Tacos', 'Izze',
       'Nantucket Nectar', 'Salad', 'Side of Chips', 'Steak Bowl',
       'Steak Burrito', 'Steak Crispy Tacos', 'Steak Salad',
       'Steak Salad Bowl', 'Steak Soft Tacos', 'Veggie Bowl',
       'Veggie Burrito', 'Veggie Crispy Tacos', 'Veggie Salad',
       'Veggie Salad Bowl', 'Veggie Soft Tacos'], dtype=object)

In [166]:
#De lo anterior se puede visualizar que se repiten platillos como el: 'Chips and Tomatillo Green Chili Salsa', 'Chips and Tomatillo-Green Chili Salsa', 
# y Chips and Roasted Chili-Corn Salsa', 'Chips and Roasted Chili Corn Salsa'.
#Por ello se debe se realizar una limpieza del array obtenido, para ello se transforma el array a un dataset el cual se pueda editar.
items_df=pd.DataFrame(items)
items_df

                                        0
0                       6 Pack Soft Drink
1                           Barbacoa Bowl
2                        Barbacoa Burrito
3                   Barbacoa Crispy Tacos
4                     Barbacoa Salad Bowl
5                     Barbacoa Soft Tacos
6                           Bottled Water
7                                    Bowl
8                                 Burrito
9                             Canned Soda
10                      Canned Soft Drink
11                          Carnitas Bowl
12                       Carnitas Burrito
13                  Carnitas Crispy Tacos
14                         Carnitas Salad
15                    Carnitas Salad Bowl
16                    Carnitas Soft Tacos
17                           Chicken Bowl
18                        Chicken Burrito
19                   Chicken Crispy Tacos
20                          Chicken Salad
21                     Chicken Salad Bowl
22                     Chicken Soft Tacos
23                                  Chips
24           Chips and Fresh Tomato Salsa
25                    Chips and Guacamole
26      Chips and Mild Fresh Tomato Salsa
27     Chips and Roasted Chili Corn Salsa
28     Chips and Roasted Chili-Corn Salsa
29  Chips and Tomatillo Green Chili Salsa
30    Chips and Tomatillo Red Chili Salsa
31  Chips and Tomatillo-Green Chili Salsa
32    Chips and Tomatillo-Red Chili Salsa
33                           Crispy Tacos
34                                   Izze
35                       Nantucket Nectar
36                                  Salad
37                          Side of Chips
38                             Steak Bowl
39                          Steak Burrito
40                     Steak Crispy Tacos
41                            Steak Salad
42                       Steak Salad Bowl
43                       Steak Soft Tacos
44                            Veggie Bowl
45                         Veggie Burrito
46                    Veggie Crispy Tacos
47                           Veggie Salad
48                      Veggie Salad Bowl
49                      Veggie Soft Tacos

In [167]:
#A partir del dataframe obtenido se utiliza el método replace para cambiar los items antes mencionados, tambien se agrupa las bebidas por la opción soda.
items_df=pd.DataFrame(items)
items_df[0]=items_df[0].replace({'Chips and Tomatillo-Green Chili Salsa':'Chips and Tomatillo Green Chili Salsa',
'Chips and Roasted Chili-Corn Salsa':'Chips and Roasted Chili Corn Salsa',
'Chips and Tomatillo-Red Chili Salsa':'Chips and Tomatillo Red Chili Salsa',
 '6 Pack Soft Drink':'Soda','Canned Soda':'Soda','Canned Soft Drink':'Soda'})
items_df #Visualización de los cambios

                                        0
0                                    Soda
1                           Barbacoa Bowl
2                        Barbacoa Burrito
3                   Barbacoa Crispy Tacos
4                     Barbacoa Salad Bowl
5                     Barbacoa Soft Tacos
6                           Bottled Water
7                                    Bowl
8                                 Burrito
9                                    Soda
10                                   Soda
11                          Carnitas Bowl
12                       Carnitas Burrito
13                  Carnitas Crispy Tacos
14                         Carnitas Salad
15                    Carnitas Salad Bowl
16                    Carnitas Soft Tacos
17                           Chicken Bowl
18                        Chicken Burrito
19                   Chicken Crispy Tacos
20                          Chicken Salad
21                     Chicken Salad Bowl
22                     Chicken Soft Tacos
23                                  Chips
24           Chips and Fresh Tomato Salsa
25                    Chips and Guacamole
26      Chips and Mild Fresh Tomato Salsa
27     Chips and Roasted Chili Corn Salsa
28     Chips and Roasted Chili Corn Salsa
29  Chips and Tomatillo Green Chili Salsa
30    Chips and Tomatillo Red Chili Salsa
31  Chips and Tomatillo Green Chili Salsa
32    Chips and Tomatillo Red Chili Salsa
33                           Crispy Tacos
34                                   Izze
35                       Nantucket Nectar
36                                  Salad
37                          Side of Chips
38                             Steak Bowl
39                          Steak Burrito
40                     Steak Crispy Tacos
41                            Steak Salad
42                       Steak Salad Bowl
43                       Steak Soft Tacos
44                            Veggie Bowl
45                         Veggie Burrito
46                    Veggie Crispy Tacos
47                           Veggie Salad
48                      Veggie Salad Bowl
49                      Veggie Soft Tacos

In [168]:
items_df[0].unique()  #Array que muestra solo los valores únicos de data set.

array(['Soda', 'Barbacoa Bowl', 'Barbacoa Burrito',
       'Barbacoa Crispy Tacos', 'Barbacoa Salad Bowl',
       'Barbacoa Soft Tacos', 'Bottled Water', 'Bowl', 'Burrito',
       'Carnitas Bowl', 'Carnitas Burrito', 'Carnitas Crispy Tacos',
       'Carnitas Salad', 'Carnitas Salad Bowl', 'Carnitas Soft Tacos',
       'Chicken Bowl', 'Chicken Burrito', 'Chicken Crispy Tacos',
       'Chicken Salad', 'Chicken Salad Bowl', 'Chicken Soft Tacos',
       'Chips', 'Chips and Fresh Tomato Salsa', 'Chips and Guacamole',
       'Chips and Mild Fresh Tomato Salsa',
       'Chips and Roasted Chili Corn Salsa',
       'Chips and Tomatillo Green Chili Salsa',
       'Chips and Tomatillo Red Chili Salsa', 'Crispy Tacos', 'Izze',
       'Nantucket Nectar', 'Salad', 'Side of Chips', 'Steak Bowl',
       'Steak Burrito', 'Steak Crispy Tacos', 'Steak Salad',
       'Steak Salad Bowl', 'Steak Soft Tacos', 'Veggie Bowl',
       'Veggie Burrito', 'Veggie Crispy Tacos', 'Veggie Salad',
       'Veggie Salad Bowl', 'Veggie Soft Tacos'], dtype=object)

In [169]:
items_df[0].nunique() #Se indica la cantidad de platillos, sin repetir, que se vendieron en el dataset

45